.slider {
	width: 300px;
	margin-bottom: 15px;
	margin-top: 15px;
	float: left;
}

#swatch {
	width: 300px;
	height: 300px;
}

#all {
	padding-left: 20px;
}

.input {
	float: left;
	padding-top: 10.5px;
	padding-left: 3px;
}

.pair {
	clear: both;
}

#timer {
	clear: both;
}