.slider {
	width: 300px;
	margin-bottom: 15px;
	margin-top: 15px;
	float: left;
}

#swatch {
	width: 300px;
	height: 300px;
}

.userSwatch {
	display: block;
	clear: right;
}

.userColor {
	width: 40px;
	height: 40px;
	display: inline-block;
}

.badval {
	visibility: hidden;
	float: left;
	padding-top: 14px;
	padding-left: 8px;
}

#all {
	padding-left: 20px;
}

#settings {
	display: block;	
}

#endOfGame {
	visibility: hidden;
}

.input {
	float: left;
	padding-top: 10.5px;
	padding-left: 18px;
}

.pair {
	clear: both;
}

#timer {
	clear: both;
}
