body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

h1 {
	font-weight: 700;
	font-style: italic;
}

#all {
	padding-left: 20px;
}

#leftSide {
	float: left;
	display: block;
	margin-right: 0px;
	padding-bottom: 30px;
}

#rightSide {
	float: left;
	display: block;
}

#settings {
	display: block;	

}

#timer {
	display: block;
	height: 19px;
}

#swatch {
	width: 300px;
	height: 300px;
	margin-bottom: 10px;
	border-radius: 15px;
	box-shadow: 3px 3px 3px #7C7C7C;
}

/*userSwatch and userColor get inserted into the HTML by javascript*/
.userSwatch {
	display: block;
	clear: right;
}

.userColor {
	width: 40px;
	height: 40px;
	display: inline-block;
}

.pair {
	clear: both;
}

.slider {
	width: 300px;
	margin-bottom: 15px;
	margin-top: 15px;
	float: left;
}

.input {
	float: left;
	padding-top: 10.5px;
	padding-left: 18px;
}

#red {
	width: 35px;
	border: 1.5px solid #FF0000;
	border-radius: 5px;
	background-color: #F0F0F0;
	font-family: 'Open Sans', sans-serif;
}

#red:hover {
	border: 2px solid #FF0000;
	background-color: #F8F8F8;
}

#green {
	width: 35px;
	border: 1.5px solid #00CC66;
	border-radius: 5px;
	background-color: #F0F0F0;
	font-family: 'Open Sans', sans-serif;
}

#green:hover {
	border: 2px solid #00CC66;
	background-color: #F8F8F8;
}

#blue {
	width: 35px;
	border: 1.5px solid #0000CC;
	border-radius: 5px;
	background-color: #F0F0F0;
	font-family: 'Open Sans', sans-serif;
}

#blue:hover {
	border: 2px solid #0000CC;
	background-color: #F8F8F8;
}

.badval {
	visibility: hidden;
	float: left;
	font-weight: bold;
}

#endOfGame {
	display: none;
	float:left;
	margin-bottom: auto;
	text-align: center;
}

#scoreText {
	display: inline;
}

#name {
	display: inline;
}

#endOfGameText {
	font-weight: bold;
}

.endOfGameButtons {
	margin: 5px;
}

button {
  	color: black;
  	padding: 7px;
  	font-size: 15px;
  	background-color: #D8D8D8;
  	border: 1px solid #909090;
  	-moz-border-radius: 9px;
  	-webkit-border-radius: 9px;
  	border-radius: 9px;
  	border-bottom: 1px solid #9F9F9F;
  	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
  	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
  	box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
  	cursor: pointer;
 }

 button:hover {
  	background-color: #F0F0F0;
 }
