body {
	font-family: Tahoma, Geneva, sans-serif; 
}

#all {
	padding-left: 20px;
}

#leftSide {
	float: left;
	display: block;
	margin-right: 0px;
}

#rightSide {
	float: left;
	display: block;
}

#settings {
	display: block;	

}

#timer {
	display: block;
	height: 19px;
}

#swatch {
	width: 300px;
	height: 300px;
}

/*userSwatch and userColor get inserted into the HTML by javascript*/
.userSwatch {
	display: block;
	clear: right;
}

.userColor {
	width: 40px;
	height: 40px;
	display: inline-block;
}

.pair {
	clear: both;
}

.slider {
	width: 300px;
	margin-bottom: 15px;
	margin-top: 15px;
	float: left;
}

.input {
	float: left;
	padding-top: 10.5px;
	padding-left: 18px;
}

.badval {
	visibility: hidden;
	float: left;
	font-weight: bold;
}

#endOfGame {
	display: none;
	float:left;
	margin-bottom: auto;
	text-align: center;
}

#scoreText {
	display: inline;
}

#name {
	display: inline;
}

#endOfGameText {
	font-weight: bold;
}

.endOfGameButtons {
	margin: 5px;
}